MODEL=qwen/qwen3-8b# 改成你的模型名称
MODEL_PROVIDER=openai# 通常来说都是openai
BASE_URL=http://localhost:1234/v1#这是我本地部署的，你用什么的就改成什么的 比如deeppseek可以去官网看
API_KEY=1234#密钥

EMB_DIR_PATH=D:\home\models\BAAI#嵌入模型文件夹
EMB_MODEL_NAME=bge-small-zh-v1.5#嵌入模型名称